.shows-details {
    margin-bottom: 44px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.show{
  margin-top: 100px;
}

.ant-card-meta-title{
  text-align: center;
}

.show-row{
  margin: 10px 0;
  border: 1px solid lightgrey;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.show-details-col{
  padding: 10px;
}

.show-dislike:hover{
  color: red;
}

.show-like, .show-dislike, .show-more{
  padding: 4px;
  border: 1px solid lightgrey;
  border-radius: 10%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
