.shows-details {
    margin-bottom: 44px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.show{
  margin-top: 100px;
}

.ant-card-meta-title{
  text-align: center;
}

.ant-row{
  margin: 10px 0;
  border: 1px solid lightgrey;
}

.show-details-col{
  padding: 10px;
}
